@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*------------------------------------Navbar------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none !important;
  text-decoration: none !important;
}

.my_navbar {
  background-color: aqua;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: all 600ms linear;
}

.left_300 {
  left: -500px;
}

.left_true {
  left: 0;
}

.btn {
  border: 2px solid transparent;
  background-color: cadetblue;
  border-radius: 15px;
  padding: 12px 20px;
}
.text_black{
  color: black;
}



.ff_poppins {
  font-family: 'Poppins', sans-serif;
}

.fw_600 {
  font-weight: 600;
}

.fs_40 {
  font-size: 40px;
}

.fs_60 {
  font-size: 60px !important;
}

.fw_700 {
  font-weight: 700;
}

.bg_sky {
  background-color: aqua !important;
}

.bg_pink {
  background-color: pink;
}

.bg_green {
  background-color: lightgreen;
}

.bg_purple {
  background-color: lightseagreen;
}